.green-button {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    border: none; /* Remove the default border */
    padding: 10px 10px; /* Add padding to the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline on text */
    display: inline-block; /* Display as an inline-block element */
    font-size: 16px; /* Set the font size */
    border-radius: 10px; /* Add some border-radius for rounded corners */
  }
  .blue-button {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove the default border */
    padding: 10px 10px; /* Add padding to the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline on text */
    display: inline-block; /* Display as an inline-block element */
    font-size: 16px; /* Set the font size */
    border-radius: 10px; /* Add some border-radius for rounded corners */
  }
  /* Define the button style with a yellow background and black text */
.yellow-button {
    background-color: #f1c40f; /* Yellow background color */
    color: #000; /* Black text color */
    border: none; /* Remove the default border */
    padding: 5px 10px; /* Add padding to the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline on text */
    display: inline-block; /* Display as an inline-block element */
    font-size: 16px; /* Set the font size */
    border-radius: 4px; /* Add some border-radius for rounded corners */
  }
  .red-button {
    background-color: #e74c3c; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove the default border */
    padding: 5px 10px; /* Add padding to the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline on text */
    display: inline-block; /* Display as an inline-block element */
    font-size: 16px; /* Set the font size */
    border-radius: 4px; /* Add some border-radius for rounded corners */
  }
  .divider{
    width:15px;
    height:auto;
    display:inline-block;
}